# Credenciales y Tokens Secretos de Google
credentials.json
token.json

# Entorno Virtual (si usas uno como venv)
venv/
*.venv/
env/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de log (si generas alguno)
*.log

# Archivos de configuración de IDEs (ejemplos)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?venv/

credentials.json
token.json


# Archivos de entorno
.env

# Tokens y credenciales sensibles
token.json
credentials.json 

# Logs
log/
*.log

# Directorios de Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
ENV/
env/
